DB_HOST=localhost
DB_PORT=5435
DB_NAME=chatbotdb
DB_USER=admin
DB_PASSWORD=admin123

SECURITY_SERVICE_URL=http://security-service:5001
ADMIN_SERVICE_URL=http://administration-service:5002
TUTORIAS_SERVICE_URL=http://tutorias-service:5003

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

INTERNAL_TOKEN=change_me_in_production

CONFIDENCE_THRESHOLD=0.60
ESCALATION_ENABLED=True
